.workbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    flex-direction: column;
  }
  
  .box_, .box__ {
    width: 400px;
    height: 204px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  

  @media (min-width: 992px) {
    .workbox {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; /* Center align items horizontally */
    }
  
    .box_ {
      width: calc(33.33% - 20px); /* Adjust width for three boxes in a row */
      margin: 0px; /* Adjust margin for spacing between boxes */
    }
  
    .box__ {
      width: calc(33.33% - 20px); /* Adjust width for three boxes in a row */
      margin: 0px; /* Adjust margin for spacing between boxes */
    }
  }
  
  .box__:nth-child(even), .box_:nth-child(odd) {
    background: #e8fbff; /* Background color for alternating boxes */
  }
  